h1 {
    font-size: xx-large;
    font-family: sans-serif;
    color : #000;
    font-weight: bold;
}

table {
    width: 50%;
    border: solid #e7e7e7;
    padding: 20% 5% 40%;
}

.bs-docs-sidenav {
    background-color: #edf2f5;
}