<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin</title>
    <script src="../../resources/com/aspnetcdn/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="../../resources/com/bootstrapcdn/stackpath/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments :: link_css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="../../resources/com/w3schools/w3css/4/w3.css"/>
</head>
<body>
<th:block th:replace="fragments :: header-panel"></th:block>

<div class="w3-sidebar">
<div class="w3-sidebar w3-light-grey w3-bar-block">
    <ul class="nav">
        <li class="nav-item">
        <li sec:authorize="hasAuthority('ADMIN')">
            <a class="active" href="/admin">Admin
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user">User
            </a>
        </li>
    </ul>
</div>
</div>



    <div class="w3-container">
        <h1>Admin panel</h1>
        <ul class="nav nav-tabs">
            <li th:classappend="${errorUsername == null} ? 'active' : ''"><a href="#home" data-toggle="tab">Users table</a></li>
            <li th:classappend="${errorUsername != null} ? 'active' : ''"><a href="#profile" data-toggle="tab">New User</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane " th:classappend="${errorUsername == null} ? 'active' : ''" id="home">
                <div class="panel panel-default">
                    <div class="panel-heading">All users</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td><b>Role</b></td>
                                <td><b>Login</b></td>
                                <td><b>Password</b></td>
                                <td><b>Name</b></td>
                                <td><b>Age</b></td>
                                <td><b>Edit</b></td>
                                <td><b>Delete</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${listUsers}">
                                <td th:field="*{user.roles}">
                                    <th:block th:each="role : ${user.roles}">
                                        <option th:if="${role!= null}"
                                                th:value="${role}"
                                                th:text="${role.getName()}">
                                        </option>
                                    </th:block>
                                </td>
                                <td th:text="${user.username}">Login</td>
                                <td th:text="${user.password}">Password</td>
                                <td th:text="${user.name}">Name</td>
                                <td th:text="${user.age}">Age</td>
                                <td>
                                    <button type="button" th:attr="data-target='#myModal'+${user.id}"
                                            data-toggle="modal"
                                            class="btn btn-info">Edit
                                    </button>
                                    <!-- Modal -->
                                    <form th:action="@{/admin/users/update/__${user.id}__}"
                                          th:method="post"
                                          th:object="${userFromPage}">
                                        <div class="modal fade" th:id="myModal+${user.id}"
                                             role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal">&times;
                                                        </button>
                                                        <h4 class="modal-title"
                                                            th:text="${'Edit user ' + user.name}"></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container-fluid">
                                                            <div class="outer">
                                                                <div class="row col-md-6 col-md-offset-3">
                                                                    <div class="form-group">
                                                                        <label for="InputID">ID</label>
                                                                        <input type="number"
                                                                               class="form-control"
                                                                               id="InputID"
                                                                               th:value="${user.id}"
                                                                               name="id"
                                                                               disabled=""/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="InputLogin">Login</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="InputLogin"
                                                                               name="username"
                                                                               th:value="${user.username}" disabled=""/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="InputPassword">Password</label>
                                                                        <input type="password"
                                                                               class="form-control"
                                                                               id="InputPassword"
                                                                               name="password"
                                                                               th:value="${user.password}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="InputName">Name</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="InputName" name="name"
                                                                               th:value="${user.name}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="InputAge">Age</label>
                                                                        <input type="number"
                                                                               class="form-control"
                                                                               id="InputAge" name="age"
                                                                               th:value="${user.age}"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="Role">Role</label>
                                                                        <select id="Role"
                                                                                class="form-control"
                                                                                th:field="*{roles}"
                                                                                multiple="multiple">
                                                                            <th:block
                                                                                    th:each="role : ${allRoles}">
                                                                                <option th:if="${role!= null}"
                                                                                        th:value="${role}"
                                                                                        th:text="${role.getName()}">
                                                                                </option>
                                                                            </th:block>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-sm"
                                                                data-dismiss="modal">Закрыть
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-primary btn-sm">Edit user
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <a href="" th:object="${user}"
                                       th:href="@{/admin/users/delete/__${user.id}__}">
                                        <button type="button" class="btn btn-danger btn-success">
                                            Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="profile" th:classappend="${errorUsername != null} ? 'active' : ''">
                <div class="panel panel-default">
                    <div class="panel-heading">Add new user</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="outer">

                                <form class="form-signin" th:action="@{/admin/users/add}"
                                      th:method="post"
                                      th:object="${userFromPage}">
                                    <div class="col-md-4 col-md-offset-4">
                                        <p>
                                            <label for="InputNewLogin">Login</label>
                                            <input type="text" class="form-control" id="InputNewLogin"
                                                   maxlength="50"
                                                   name="username" placeholder="Login" required=""
                                                   th:field="*{username}"/>
                                        </p>
                                        <div class="bg-danger">
                                           <h3 th:text="${errorUsername}"></h3>
                                            </div>
                                        <p>
                                            <label for="InputNewPassword">Password</label>
                                            <input type="password" class="form-control"
                                                   id="InputNewPassword" th:field="*{password}"
                                                   placeholder="Password" name="password" required=""
                                                   minlength="4" maxlength="30"/></p>
                                        <div class="bg-danger" th:text="${errorPassword}">Password
                                            Error
                                        </div>
                                        <p>
                                            <label for="InputNewName">Name</label>
                                            <input placeholder="Name" id="InputNewName" required="required"
                                                   class="form-control"
                                                   type="text"
                                                   th:field="*{name}"/></p>
                                        <p>
                                            <label for="InputNewAge">Age</label>
                                            <input placeholder="Age" id="InputNewAge" required="required"
                                                   class="form-control"
                                                   type="number"
                                                   th:field="*{age}"/></p>
                                        <p>
                                            <label for="InputRole">Role</label>
                                            <select id="InputRole" class="form-control" th:field="*{roles}"
                                                    multiple="multiple">
                                                <th:block th:each="role : ${allRoles}">
                                                    <option th:if="${role!= null}"
                                                            th:value="${role}"
                                                            th:text="${role.getName()}">
                                                    </option>
                                                </th:block>
                                            </select>
                                        </p>
                                        <a th:href="@{/admin}">
                                        <button type="button" class="btn btn-default btn-sm"
                                                data-dismiss="modal">Отмена
                                        </button></a>
                                        <input class="btn btn-md btn-success" type="submit"
                                               name="add" value="Add new user"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




