<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login page</title>
    <link th:replace="fragments :: link_css"></link>
    <link rel="stylesheet" type="text/css" href="../../resources/css/login.css"/>
</head>
<body onload='document.loginForm.username.focus();'>

<div class="container">
    <form class="form-signin" name='loginForm' action="" method='POST'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Login"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required=""/>
        <div class="${not empty error}?('error') bg-danger" th:text="${error}"></div>
        <div class="${not empty msg}?('msg') bg-danger" th:text="${msg}"></div>
        <br/>
        <input class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="Sign in"/>
        <a class="btn btn-lg btn-primary btn-block" href="/registration">Registration</a>
        <a class="btn btn-lg btn-primary btn-block" href="/autorization">Login in VK</a>
    </form>
</div>
</body>

</html>