<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link th:replace="fragments :: link_css"/>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/registration.css"/>
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="POST" th:object="${user}">
        <h2 class="form-signin-heading">Registration</h2>
        <input type="text" class="form-control" maxlength="50" name="username" placeholder="Login" required=""
               th:field="*{username}"/>
        <div class="bg-danger" th:text="${errorUsername}">Username Error</div>
        <input type="password" class="form-control" th:field="*{password}" placeholder="Password" name="password"
               required="" minlength="4" maxlength="30"/>
        <div class="bg-danger" th:text="${errorPassword}">Password Error</div>
        <input type="password" class="form-control" placeholder="Confirm password" name="confirmPassword" required=""
               minlength="4" maxlength="30"/>
        <div class="bg-danger" th:if="${errorConfirm != null}">
            <h3 th:text="${errorConfirm}"></h3>
        </div>

        <input type="hidden" th:field="*{roles}" th:value="${user.roles}"/>

        <input placeholder="Name" required="required" class="form-control" type="text"
               th:field="*{name}"/>

        <input placeholder="Age" required="required" class="form-control" type="number"
               th:field="*{age}"/>

        <input class="btn btn-lg btn-primary btn-block" type="submit" name="add" value="Registration"/>

        <a href="" th:href="@{/login}">
            <button type="button" class="btn btn-lg btn-primary btn-block" value="Login">Sign in</button>
        </a>
        <div class="addOk" th:if="${congratulations != null}">
            <h3 th:text="${congratulations}"></h3>
        </div>
    </form>
</div>
</body>
</html>