<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update product</title>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8"/>
    <link th:replace="fragments :: link_css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="page-header">Update product</h1>
        <div class="table-responsive">
            <form th:object="${userDTO}" th:action="@{/admin/users/update}" method="post" >
                <table class="table table-striped">
                    <input type="hidden" th:field="*{id}" />
                    <tr>
                        <td>Login</td>
                        <td><input type="text" th:field="*{username}"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="text" th:field="*{password}"/></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" th:field="*{name}"/></td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td><input type="number" th:field="*{age}"/></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>
                            <select th:field="*{roles}" multiple="multiple">
                                <th:block th:each="role : ${allRoles}">
                                    <option th:if="${role!= null}"
                                            th:value="${role}"
                                            th:text="${role.getName()}">
                                    </option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" />
            </form>
        </div>
    </div>
</div>
</body>
</html>