<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments :: link_css"></link>
    <link rel="stylesheet" type="text/css" href="../../resources/css/user.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<th:block th:replace="fragments :: header-panel"></th:block>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    <ul class="nav">
        <li class="nav-item">
        <li sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/admin">Admin
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a class="active"  href="/user">User
            </a>
        </li>
    </ul>
</div>


<div style="margin-left:15%">
    <div class="w3-container">
        <h1>User page</h1>
    </div>
</div>
</body>
</html>